.header__watchlist-link {
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: yellow;
  transition: 0.15s;
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
}

.header__watchlist-link:hover {
  opacity: 80%;
}

@media (min-width: 720px) {
  .header__watchlist-link {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
  }

  .header__watchlist {
    text-align: end;
  }
}
