.card-list {
  display: flex;
  gap: 1rem;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}

.card-list>a {
  width: 300px;
  padding-bottom: 35px;

}