.header__search-bar {
  grid-column: 1 / -1;
  grid-row: 2;
  width: 100%;
  margin: 2rem 0 0 0;
  display: flex;
  max-width: 1200px;
}

.header__input {
  flex: 1;
  min-width: 0;
  padding: 0.8rem;
  border: none;
  border-radius: 2rem 0 0 2rem;
}

.header__form-btn {
  border-radius: 0 2rem 2rem 0;
  padding: 0.8rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s linear;
}

.header__form-btn:hover {
  opacity: 95%;
}

@media (min-width: 720px) {
  .header__search-bar {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
  }

  .header__input {
    padding: 1rem;
  }
  
  .header__form-btn {
    padding: 1rem;
  }
}
