.header {
  background-color: #121212;
  padding: 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 2rem 0;
}

@media (min-width: 720px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    gap: 3rem;
  }
}
