.carousel-video-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1.2rem;
  aspect-ratio: 16 / 9;
  box-shadow: rgba(243, 208, 7, 0.741) 0px 7px 29px 0px;
  border-radius: 10px;
  margin-bottom: 5rem;
}

.carousel-video {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: none;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  margin-right: 1rem;
  margin-left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  filter: brightness(200%);
}
