.footer {
    margin-top: auto;
    padding: 1.5rem;
    width: 100%;
    display: grid;
    align-items: end;
    grid-template-columns: 70% 30%;
    min-height: 150px;
    background-color: #121212;
    color: rgba(255, 255, 255, 0.808);
    border: 1px solid red;
}

.footer__text {
    font-size: small;
}

.footer__btt-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
  @media (min-width: 400px) {
  
    .footer__text {
      font-size: 11px;
    }
  } 